<h1>Number of Tweets per country since: {{startServer}} (UTC)</h1>

<h2>World tweets: <span id="totalCounts"></span></h2>

<section id="countryTweetCounter"></section>

<section id="yourSelection"></section>
