<h1>Number of Tweets per country since: {{startServer}} (UTC)</h1>

<h2>World tweets: <span id="totalCounts"></span></h2>

<section id="countryTweetCounter"></section>

<section id="filterSelection">
  <section id="topHashtags">
    <h2>Top hashtags for: <span id="topHashTitle"></span></h2>
    <ol id="hashtagList"></ol>
  </section>
</section>
