body {
  padding: 1em;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #1da1f2;
  color: #FFFFFF;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

h1,
h2 {
  text-align: center;
  flex-basis: 100%;
}

#totalCounts {
  display: block;
  font-size: 0.8em;
  flex-basis: 100%;
}

#filterSelection {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  width: 33%;
  padding: 1em;
  box-sizing: border-box;
  background-color: #333;
}

#countryTweetCounter {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  width: 66%;
}

#countryTweetCounter > .country {
  display: none;
  flex-basis: 32%;
  box-sizing: border-box;
  margin: 0.5%;
  background-color: #FFFFFF;
  color: #14171a;
  position: relative;
  font-weight: 700;
}

#countryTweetCounter > .country::before {
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

#countryTweetCounter > .country > span {
  padding: 1em 4em 1em 1em;
  display: inline-block;
}

#countryTweetCounter > .country > span.counterCode {
  position: absolute;
  font-weight: 400;
  top:0;
  bottom: 0;
  right:0;
  background-color: #2ecc71;
  color: #ffffff;
  padding: 1em;
}

#countryTweetCounter > .country.update {
  animation-name: bgColor;
  animation-duration: 0.5s;
}

@media screen and (max-width: 900px) {
  #countryTweetCounter > .country {
    flex-basis: 49%;
  }
}

@media screen and (max-width: 700px) {
  #countryTweetCounter > .country {
    flex-basis: 99%;
  }
}

@keyframes bgColor {
  from {
    background-color: rgba(255, 255, 255, 1);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.7);
  }

  to {
    background-color: rgba(255, 255, 255, 1);
  }
}